/* Sidebar Base Styles */
.sidebar {
    width: 250px;
    background-color: white;
    padding: 10px;
    margin-top: 80px;
    transition: width 0.3s ease-in-out;
    overflow-x: hidden;
    align-items: center;
    align-content: center;
    justify-content: center;
}

/* Collapsed Sidebar */
.sidebar.collapsed {
    width: 80px;
    padding: 10px;
}

/* Sidebar List */
.sidebar .MuiList-root {
    padding: 0;
}

/* Sidebar Buttons */
.sidebar .MuiListItemButton-root {
    background-color: #66bb6a; /* Green color */
    margin: 8px 10px;
    border-radius: 25px;
    padding: 12px 20px;
    transition: background-color 0.3s ease-in-out;
}

.sidebar .MuiListItemButton-root:hover {
    background-color: #4caf50;
}

/* Sidebar Icons */
.sidebar .MuiListItemIcon-root {
    min-width: 40px;
    color: black;
}

/* Sidebar Text */
.sidebar .MuiListItemText-primary {
    font-weight: bold;
    color: black;
}

/* Sidebar Toggle Button */
.toggle_button {
    position: absolute;
    top: 15px;
    left: 15px;
    color: black;
    background-color: blue;
    border-radius: 50%;
}
