/*App.css */
#root {
  max-width: min(90vw, 100vw);
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* Background Image Styling */
.main-content {
  flex-grow: 1;
  min-height: 100vh; /* Make sure it covers the full height */
  width: 100vw; /* Covers the full width */
  top: 0;
  left: 0;
  z-index: -1; /* Moves it behind other elements */
}

/* Adjust Main Content When Sidebar Collapses */
.sidebar.collapsed ~ .main-content {
  margin-left: 80px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
